[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rxmapple
[access "refs/for/refs/*"]
	read = group user/rxmapple
	push = group user/rxmapple
	label-Code-Review = -2..+2 group user/rxmapple
	label-Verified = -1..+1 group user/rxmapple
	rebase = group user/rxmapple
	removeReviewer = group user/rxmapple
	submit = group user/rxmapple
[access "refs/heads/*"]
	read = group user/rxmapple
	create = group user/rxmapple
	push = +force group user/rxmapple
	pushMerge = group user/rxmapple
[access "refs/tags/*"]
	push = +force group user/rxmapple
	pushTag = group user/rxmapple
	pushSignedTag = group user/rxmapple
